.community{

    .sub_visual{
        background-image: url(../img/community_banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
    }

}

.community{
    width: 100%;
    position: relative;

    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;

        .notice_wrap{
            width: 880px;
            height: 70px;
            margin: 20px auto 60px;
            overflow: hidden;
            

            &::after{
                content:''; display:block; clear:both;
            }

            strong{
                display: block;
                font: bold 16px/70px 'Jost', sans-serif;
                color: #222;
                float: left;
                position: relative;
                padding-right: 10px;

                &::after{
                    content:''; display: block;
                    width: 1px;
                    height: 16px;
                    margin-top: 27px; 
                    background: #111;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            .notice_slide{
                float: left;
                width: 740px;
                height: calc(100% * 5);
                padding-left: 10px;

                li{
                    width: 100%;
                    height: calc(100% / 5);

                    a{
                        display: block;
                        height: 100%;
                        font: 15px/70px 'Jost', sans-serif;
                        color: #444;
                    }
                }
            }

            .slide_btn{
                float: left;
                font-size: 0;
                width: 69px;
                height: 100%;

                >a{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    font: 16px/70px 'arial';
                    color: #444;

                    &.on{
                        display: none;
                    }
                }
                
            }
        }

        .csInfo{
            width: 100%;
            height: 360px;
            padding: 40px 0;
            position: relative;
            text-align: center;

            .infoTxt{
                width: 100%;
                height: 100%;
                position: relative;
                text-align: center;
             
                >h1{
                    display: block;
                    height: 60px;
                    font: 13px/60px 'Jost', sans-serif;
                    color: #bbb;
                    font-weight: 700;
                    margin-bottom: 30px;
                    position: relative;
                    letter-spacing: 2px;
                    text-align: left;
                    z-index: 2;
    
        
                    &::after{
                        content: '';
                        display: block;
                        width: 30px;
                        height: 2px;
                        background: #bbb;
                        position: absolute;
                        top: 0px;
                        left: 0px;
        
                    }
                }

                p{
                    font: 28px/1.4 'Jost', sans-serif;
                    color: #111;
                    font-weight: 400;
                    position: relative;
                    z-index: 2;

                    >span{
                        display: block;
                        margin-top: 5px;
                        font-family:  'Jost', sans-serif;
                        font-style: italic;
                        font-weight: 400;
                    }

                }

                .mark{
                    font: 170px/1 'Lily Script One', cursive;
                    color: #bbb;
                    opacity: 0.2;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        // .news_wrap{
        //     width: 100%;
        //     margin: 60px 0;

        //     >h1{
        //         display: block;
        //         height: 60px;
        //         font: 13px/60px 'Jost', sans-serif;
        //         color: #bbb;
        //         font-weight: 700;
        //         position: relative;
        //         letter-spacing: 2px;
        //         margin-bottom: 30px;
        //         padding-left: 20px;
    
        //         &::after{
        //             content: '';
        //             display: block;
        //             width: 30px;
        //             height: 2px;
        //             background: #bbb;
        //             position: absolute;
        //             top: 0px;
        //             left: 0px;
    
        //         }
        //     }

        //     .wrap{
        //         width: 100%;
        //         margin-top: 40px;

        //         article{
        //             width: calc((100% / 3) - 15px);
        //             float: left;
        //             margin-right: 20px;

             

        //             a{
        //                 display: block;
        //                 width: 100%;
        //                 height: 100%;
        //                 .pic{
        //                     width: 100%;
        //                     height: 250px;
        //                     background-repeat: no-repeat;
        //                     background-size: cover;
        //                     background-position: center;
        //                     position: relative;

        //                     &::after{
        //                         content: '';
        //                         display: block;
        //                         width: 100%;
        //                         height: 100%;
        //                         position: absolute;
        //                         top: 0;
        //                         left: 0;
        //                         background: #fff;
        //                         opacity: 0;
        //                         transition: 0.5s;
        //                     }
        //                 }

        //                 .newsInfo{
        //                     padding: 20px 0;

        //                     .icon{
        //                         display: inline-block;
        //                         width: 30px;
        //                         height: 30px;
        //                         background: #bbb;
        //                         border-radius: 50%;
        //                         font: 12px/30px 'Jost', sans-serif;
        //                         color: #fff;
        //                         text-align: center;
        //                         margin-right: 10px;
        //                     }
        //                     span{
        //                         font: 11px/1 'Jost', sans-serif;
        //                         color: #aaa;
        //                     }

        //                     p{
        //                         font: 18px/1 'Jost', sans-serif;
        //                         color: #111;
        //                         font-weight: 500;
        //                         margin-top: 15px;
        //                     }
        //                 }

        //                 &:hover{

        //                     .pic::after{
        //                         opacity: 0.5;
        //                     }
        //                 }
        //             }

        //             &:last-of-type{
        //                 margin-right: 0;
        //             }

        //             &:nth-of-type(1){
        //                 .pic{
        //                     background-image: url(../img/news1.jpg);
        //                     background-position: 0 -140px;
        //                 }
        //             }
        //             &:nth-of-type(2){
        //                 .pic{
        //                     background-image: url(../img/news2.jpg);
        //                 }
        //             }
        //             &:nth-of-type(3){
        //                 .pic{
        //                     background-image: url(../img/news3.jpg);
        //                 }
        //             }
        //         }
        //     }
        // }   

        .tab_box{
            width: 100%;

            dl{
                width: 100%;
                position: relative;

                >dt{
                    width: calc(100% / 2);
                    position: absolute;
                    top: 0;

                    &:nth-of-type(1){
                        left: 0;
                    }

                    &:nth-of-type(2){
                        left: 50%;
                    }

                    a{
                        display: block;
                        width: 100%;
                        height: 60px;
                        font: 20px/60px 'Jost', sans-serif;
                        color: #999;
                        text-align: center;
                        background: #ddd;
                        position: relative;

                        &::after{
                            content: '';
                            display: none;
                            width: 100%;
                            height: 6px;
                            background: #304d78;
                            position: absolute;
                            top: 0;
                            left: 0;
                            border-radius: 7px 7px 0 0;
                        }

                        
                    }
                    &.on{

                        a{
                            background: transparent;
                            color: #111;
                        }
                        a::after{
                            display: block;
                        }
                    }
                }

                >dd{
                    padding-top: 60px;
                    display: none;

                    &.on{
                        display: block;
                    }

                    &.faq_menu{
                        width: 100%;
                        padding-top: 160px;
                        margin-bottom: 60px;
            
                        h2{
                            font: 25px/1 'Jost', sans-serif;
                            font-weight: 500;
                            margin-bottom: 20px;
                            letter-spacing: 1px;
                        }
            
                        .wrap{
                            width: 100%;
            
                            dt{
                                width: 100%;
                                padding: 40px 20px;
                                font: bold 16px/1 'Jost', sans-serif;
                                color: #333;
                                border-bottom: 1px solid #ddd;
                                cursor: pointer;
                                position: relative;
                                &:nth-of-type(2){
                                    left: 0%;
                                }
                                &::before{
                                    content: '';
                                    display: block;
                                    width: 2px;
                                    height: 16px;
                                    background: #ddd;
                                    position: absolute;
                                    top: 50%;
                                    right: 30px;
                                    margin-top: -8px;
                                    transform: rotate(-40deg);
                                    transform-origin: center bottom;
                                }
                                &::after{
                                    content: '';
                                    display: block;
                                    width: 2px;
                                    height: 16px;
                                    background: #ddd;
                                    position: absolute;
                                    top: 50%;
                                    right: 31px;
                                    margin-top: -8px;
                                    transform: rotate(40deg);
                                    transform-origin: center bottom;
                                }
            
                                span{
                                    margin-right: 10px;
                                    position: relative;
                                    top: 1px;
                                }
            
                                &:first-of-type{
                                    border-top: 1px solid #111;
                                }
            
                                &.on{
                                    &::before{
                                        background: #111;
                                        transform: rotate(40deg);
                                        transform-origin: center top;
                                    }
                                    &::after{
                                        background: #111;
                                        transform: rotate(-40deg);
                                        transform-origin: center top;
                                    }
                                }
                            }
            
                            dd{
                                width: 100%;
                                padding: 40px 20px;
                                padding-left: 44px;
                                font: 16px/1.6 'Jost', sans-serif;
                                color: #555;
                                display: none;
                                border-bottom: 1px solid #ddd;
                                background: #edebe7;
                            }
                        }
                    }

                    .community_box{
                        width: 100%;
                        text-align: center;
                        padding-bottom: 40px;

                        .sub_search{
                            width: 100%;
                            height: 100px;
                        }
                    
    
                    
                        table{
                            width: 100%;
                            border-collapse: collapse;
                            margin-bottom: 50px;
                    
                            tr{
                                width: 100%;
                                height: 100px;
                    
                                &:hover td::before{
                                    height: 100%;
                                }
                    
                                td{
                                    border-top: 1px solid #111;
                                    border-bottom: 1px solid #ddd;
                                    position: relative;
                                    transition: all 0.5s;
                                    z-index: 1;
                                    font: 15px/1 'Jost', sans-serif;;
                                    color: #777;
                    
                                    &::before{
                                        content:''; display:block;
                                        width: 100%;
                                        height: 0;
                                        background: #eee;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        transition: all 0.5s;
                                        z-index: -1;
                                    }
                        
                    
                                    &:nth-of-type(1){
                                        width: 5%;
                                        font: 20px/1 'Jost', sans-serif;
                                        color: #333;
                                        padding-top: 20px;
                                        border-top: 1px solid #111;
                                        border-bottom: 1px solid #ddd;
                                        position: relative;
                    
                                        &::after{
                                            content:''; display:block;
                                            width: 30%;
                                            height: 30px;
                                            background: #304d78;
                                            position:absolute;
                                            top: 0;
                                            left: 35%;
                                            transition: all 0.5s;
                                        }
                                    }    
                                    &:nth-of-type(2){
                                        text-align: left;
                                        width: 60%;
                                        padding: 0 40px 0 60px;
                                    }
                                    &:nth-of-type(3){
                                        width: 20%;
                                    }
                                    &:nth-of-type(4){
                                        width: 15%;
                                    }
                                    
                                    a{
                    
                                        h3{
                                            font: bold 20px/1 'Jost', sans-serif;
                                            color: #111;
                                            margin-bottom: 20px;
                                            transition: all 0.5s;
                                            letter-spacing: 1px;
                                        }
                                        p{
                                            font: 15px/1.2 'Jost', sans-serif;
                                            color: #666;
                                            transition: all 0.5s;
                                        }
                                    }
                                }
                            
                            }
                        }
                    
                        .pagination{
                            width: 100%;
                            text-align: center;
                    
                            a.prev{
                                display: inline-block;
                                width: 30px;
                                height: 30px;
                                font-size: 16px;
                                line-height: 30px;
                                color: #aaa;
                                letter-spacing: 1px;
                                border: none;
                
                            }
                            a.next{
                                display: inline-block;
                                width: 30px;
                                height: 30px;
                                font-size: 15px;
                                line-height: 30px;
                                color: #aaa;
                                letter-spacing: 1px;
                                border: none;
                    
                            }
                            .numbers{
                                display: inline-block;
                                font-size: 0;
                    
                                a{
                                    display: inline-block;
                                    width: 30px;
                                    height: 30px;
                                    font: 14px/30px 'Jost', sans-serif;
                                    color: #888;
                                    border: 1px solid #777;
                                    margin: 0 5px;
                                    transition: all 0.3s;
                    
                                    &:hover{
                                        background: #333;
                                        color: #ddd;
                                    }

                                    
                                }
                            }
                        }
                    }
                }
            }
        }

        .cs_banner{
            width: 100%;

            >h1{
                display: block;
                height: 60px;
                font: 13px/60px 'Jost', sans-serif;
                color: #bbb;
                font-weight: 700;
                margin-bottom: 30px;
                position: relative;
                letter-spacing: 2px;
                text-align: left;
                z-index: 2;

    
                &::after{
                    content: '';
                    display: block;
                    width: 30px;
                    height: 2px;
                    background: #bbb;
                    position: absolute;
                    top: 0px;
                    left: 0px;
    
                }
            }

            .wrap{
                width: 100%;

                article{
                    width: calc((100% / 2) - 10px);
                    float: left;
                    margin-right: 20px;

                    span{
                        display: inline-block;
                        font: 16px/1 'Jost', sans-serif;
                        font-weight: 700;
                        color: #304d78;
                        position: relative;

                        &::after{
                            content: '';
                            display: block;
                            width: 50%;
                            height: 3px;
                            background: #304d78;
                            position: absolute;
                            top: 50%;
                            right: -65%;
                            margin-top: -1.5px;
                        }
                    }

                    h2{
                        font: 22px/1 'Jost', sans-serif;
                        font-weight: 700;
                        color: #111;
                        margin: 20px 0 40px 0;
                    }

                    &:last-of-type{
                        margin-right: 0;
                    }
                }
            }
        }

        .ani_question{
            width: 100%;
            background: #edebe7;
            margin-top: 40px;
            padding: 40px;

            >h1{
                display: block;
                height: 60px;
                font: 13px/60px 'Jost', sans-serif;
                color: #bbb;
                font-weight: 700;
                margin-bottom: 30px;
                position: relative;
                letter-spacing: 2px;
                text-align: left;
    
                &::after{
                    content: '';
                    display: block;
                    width: 30px;
                    height: 2px;
                    background: #bbb;
                    position: absolute;
                    top: 0px;
                    left: 0px;
    
                }
            }

            .wrap{
                width: 100%;

                .question_text{
                    width: 40%;
                    height: 350px;
                    float: left;
                    padding-left: 120px;
                    padding-top: 40px;
                    position: relative;

                    >p{
                        font: 30px/1.2 'Jost', sans-serif;
                        color: #333;
                        margin-bottom: 40px;

                        >span{
                            display: block;
                        }
                    }

                    >strong{
                        display: block;
                        width: 180px;
                        font: 14px/1.8 'Jost', sans-serif;
                        margin-bottom: 40px;
                    }

                    >a{
                        display: block;
                        width: 160px;
                        height: 40px;
                        position: relative;
                        line-height: 40px;
                        font-size: 14px;
                        font-family: 'Jost', sans-serif;
                        font-weight: 500;
                        color: #aaa;
                        transition: 0.5s;
                        letter-spacing: 1px;

                        >span{
                            display: inline-block;
                            width: 40px;
                            height: 100%;
                            text-align: center;
                        }

                        &::after{
                            content: '';
                            display: block;
                            width: 40px;
                            height: 2px;
                            background: #aaa;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            transition: 0.5s;
                        }

                        &:hover{
                            color: #e9967a;
                        
                            &::after{
                                width: 175px;
                                background: #e9967a;
                            }
                        }
                    }
                }

                .question_pic{
                    width: 60%;
                    float: right;
                    position: relative;
                    perspective: 700px;

                    .innerPic{
                        width: 500px;
                        height: 500px;
                        background-image: url(../img/phone.png);
                        background-size: cover;
                        background-position: center;
                        position: absolute;
                        top: -130px;
                        left: 60px;
                        transform: rotateX(20deg) rotateY(40deg) rotateZ(-30deg);

                    }
                }
            }
        }



    }


    .department_service{
        width: 100%;
        margin-bottom: 160px;
        
        .inner{
            width: 1180px;
            margin: 0 auto;

            >h1{
                height: 60px;
                font: 13px/60px 'Jost', sans-serif;
                color: #bbb;
                font-weight: 700;
                position: relative;
                letter-spacing: 2px;
                margin-bottom: 30px;
    
                &::after{
                    content: '';
                    display: block;
                    width: 30px;
                    height: 2px;
                    background: #bbb;
                    position: absolute;
                    top: 0px;
                    left: 0px;
    
                }
            }

            >p{
                font: 18px/1 'Jost', sans-serif;
                color: #111;
                text-align: center;
                margin-bottom: 40px;

                >span{
                    display: block;
                    font-size: 22px;
                    margin-top: 10px;
                }
            }

            .service_wrap_box{
                width: 100%;
                position: relative;

                &::after{
                    content: '';
                    display: block;
                    width: 2px;
                    height: 100%;
                    background: #aaa;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    margin-left: -1px;
                    z-index: 1;
                }

                >div{
                    width: 100%;

                    .wrap{
                        width: 100%;
                        position: relative;

                        .service_link{
                            display: block;
                            width: 60px;
                            height: 60px;
                            background: #fff;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            border: 2px solid #e9967a;
                            border-radius: 50%;
                            z-index: 3;
                            transition: 0.5s;
                            
                            >span{
                                font-size: 28px;
                                color: #999;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                transition: 0.5s;
                            }

                            &:hover{

                                &{
                                    background: #999;

                                    >span{
                                        color: #fff;
                                    }
                                }
                            }
                        }

                        article{
                            width: 50%;
                            height: 300px;
                            float: left;
                            // border: 1px solid #aaa;
                            padding: 40px 60px;
                            position: relative;

                            h2{
                                font: 18px/1 'Jost', sans-serif;
                                color: #111;
                                font-weight: 500;
                                margin-bottom: 20px;

                                >span{
                                    display: inline-block;
                                    font-size: 25px;
                                    color: #e9967a;
                                    margin-right: 10px;
                                }
                            }

                            >span{
                                display: block;
                                font: 14px/1.4 'Jost', sans-serif;
                                color: #999;
                                margin-bottom: 20px;
                            }

                            p{
                                font: 15px/1.6 'Jost', sans-serif;
                                color: #333;
                            }

                            .service_logo{
                                display: block;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                font-size: 100px;
                                color: #999;
                            }
                        }
                    }
                }
            }
        }
    }
}



//tablet layout
@media screen and (max-width: 1179px){
    
    .community{
    
        .inner{
            width: 100%;
            padding: 0 20px;
    
            .notice_wrap{
                display: none;
            }
    
            .tab_box{
    
                dl{

                    >dt{
                        
                        a{
                            font-size: 16px;
                        }
                    }
    
                    >dd{

                        .community_box{
    
                            .sub_search{
                                // padding: 0 20px;

                                .search2{
                                    width: 80%;
                                    input{
                                        width: 55%;
                                    }
                                    button[type=submit]{
                                        width: 20%;
                                    }
                                }
                            }
                    
                            table{
                        
                                tr{
                        
                                    td{
                                        font: 14px/1 'Jost', sans-serif;
                          
                        
                                        &:nth-of-type(1){
                                            width: 10%;
                                            font-size: 20px;

                                            &::after{
                                                width: 20px;
                                                left: 50%;
                                                transform: translateX(-50%);
                                            }
                                        }    
                                        &:nth-of-type(2){
                                            width: 55%;
                                            padding: 0 20px 0 40px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
    
            .ani_question{

                >h1{
                    margin-bottom: 0;
                }
    
                .wrap{
                    width: 100%;
    
                    .question_text{
                        width: 40%;
                        height: auto;
                        padding-left: 20px;
    
                        >p{
                            font-size: 24px;
                        }
    
                        >a{
                            font-size: 13px;

                            &:hover{
                                &::after{
                                    width: 165px;
                                }
                            }
    
                        }
                    }
    
                    .question_pic{
    
                        .innerPic{
                            width: 100%;
                            height: 300px;
                            background-image: url(../img/phone.png);
                            background-size: cover;
                            background-position: center;
                            position: relative;
                            top: 0;
                            left: 0;
                            transform: rotateX(0) rotateY(0) rotateZ(0);
    
                        }
                    }
                }
            }
            
    
        }
    }
}



//mobile layout
@media screen and (max-width: 539px){
    
    .community{
    
        .inner{
            width: 100%;
            padding: 0 20px;
    
            .notice_wrap{
                display: none;
            }

            .csInfo{
                height: 300px;

                .infoTxt{
                    >p{
                        font-size: 24px;
                    }

                    .mark{
                        top: 60%;
                        font-size: 150px;
                    }
                }
            }
    
            .tab_box{
    
                dl{

                    >dd{

                        .community_box{
    
                            .sub_search{

                                .search2{
                                    width: 100%;
                                }
                            }
                    
                            table{
                        
                                tr{
                        
                                    td{
                        
                                        &:nth-of-type(1){
                                            width: 10%;

                                        }    
                                        &:nth-of-type(2){
                                            width: 70%;
                                        }
                                        &:nth-of-type(3){
                                            display: none;
                                        }
                                        &:nth-of-type(4){
                                            width: 20%;
                                            padding: 0 10px;
                                        }
                                    }
                                }
                            }
                        }

                        &.faq_menu{

                            .wrap{

                                dl{

                                    >dt{
                                        font-size: 14px;

                                        span{
                                            font-size: 15px;
                                        }
                                    }

                                    >dd{
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
    
            .ani_question{
    
                .wrap{
                    h1{
                        margin-bottom: 20px;
                    }
    
                    .question_text{
                        width: 100%;
                        height: auto;
                        padding: 0;
    
                        >p{
                            font-size: 24px;
                        }

                        >strong{
                            width: 100%;
                        }
    
                        >a{
                            font-size: 13px;

                            &:hover{
                                &::after{
                                    width: 165px;
                                }
                            }
    
                        }
                    }
    
                    .question_pic{
                        display: none;
                    }
                }
            }
            
    
        }
    }
}