.department .sub_visual{
    background-image: url(../img/department_main.jpg);
}


.department{

    .inner{
        width: 1180px;
        margin: 0 auto;

        .departmentChart{
            width: 100%;
            margin: 60px 0;

            >h1{
                height: 60px;
                font: 13px/60px 'Jost', sans-serif;
                color: #bbb;
                font-weight: 700;
                position: relative;
                letter-spacing: 2px;
                margin-bottom: 30px;
    
                &::after{
                    content: '';
                    display: block;
                    width: 30px;
                    height: 2px;
                    background: #bbb;
                    position: absolute;
                    top: 0px;
                    left: 0px;
    
                }
            }

            .depth1{
                width: 100%;
                height: 320px;
                background: rgb(48, 77, 120);
                padding: 40px;
                margin-bottom: 50px;
                
                
                    .wrap{
                        width: 100%;
                        height: 100%;
    
                        .innerTxt{
                            width: 25%;
                            height: 100%;
                            float: left;
                            position: relative;
    
                            h2{
                                font: 28px/1 'Jost', sans-serif;
                                color: #fff;
    
                                >span{
                                    margin-top: 5px;
                                    display: block;
                                }
                            }
    
                            >p{
                                width: 220px;
                                position: absolute;
                                bottom: 10px;
                                left: 30px;
                                font: 15px/1.6 'Jost', sans-serif;
                                font-weight: 500;
                                color: #fff;
                            }
                        }
    
                        .innerCon{
                            width: 75%;
                            height: 100%;
                            float: right;
    
                            .wrap{
                                width: 100%;
    
                                article{
                                    width: calc(100% / 3);
                                    height: 240px;
                                    float: left;
                                    position: relative;
    
                                    .pic{
                                        width: 100px;
                                        height: 100px;
                                        background-size: cover;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        border-radius: 50%;
                                    }
                                    >p{
                                        font: 18px/1 'Jost', sans-serif;
                                        color: #fff;
                                        margin: 20px 0 10px;
                                    }
                                    strong{
                                        display: block;
                                        font: 17px/1 'Jost', sans-serif;
                                        color: #fff;
                                        padding-bottom: 20px;
                                        margin-bottom: 10px;
                                        position: relative;
    
                                        &::before{
                                            content: '';
                                            display:block;
                                            width: 27px;
                                            height: 2px;
                                            background: #fff;
                                            position: absolute;
                                            bottom: 0;
                                        }
    
                                    }
    
                                    >span{
                                        font: 15px/1 'Jost' sans-serif;
                                        color: #ccc;
                                    }
    
                                }
                            }                        
                        }
                    }
                
            }
    
            .depth2{
                width: 100%;
                position: relative;
                // padding-top: 50px;

                // &::before{
                //     content: '';
                //     display: block;
                //     width: calc(100% - 280px);
                //     height: 1px;
                //     background: #aaa;
                //     position: absolute;
                //     top: 0;
                //     left: 140px
                // }
    
                    .wrap{
                        width: 100%;
                    
                            >div{
                                width: calc((100% / 4) - 15px);
                                float: left;
                                margin-right: 20px;
                                position: relative;

                                &:last-of-type{
                                    margin-right: 0px;
                                }
    
                                h2{
                                    display: none;
                                    width: 100%;
                                    height: 50px;
                                    // border: 1px solid #aaa;
                                    background: #304d78;
                                    font: 18px/50px 'Jost', sans-serif;
                                    color: #fff;
                                    font-weight: 400;
                                    text-align: center;
                                    margin-bottom: 20px;
                                }
                                
                                >article{
                                    border: 1px solid #aaa;
                                    margin-bottom: 50px;
                                    padding: 10px;
                                    position: relative;
    
                                    &::after{
                                        content: '';
                                        display: block;
                                        clear: both;
                                    }
    
                                    .pic{
                                        width: 57px;
                                        height: 57px;
                                        float: left;
                                        background-position: center;
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                    }
    
                                    .dep2_txt{
                                        width: calc(100% - 57px);
                                        float: right;
                                        padding-left: 10px;
    
                                        >strong{
                                            font: 12px/1 'Jost', sans-serif;
                                            color: #999;
                                        }
                                        >p{
                                            font: 15px/1 'Jost', sans-serif;
                                            font-weight: 500;
                                            color: #111;
                                            margin-bottom: 5px;
                                        }
                                        >span{
                                            font: 12px/1 'Jost', sans-serif;
                                            color: #999;
                                        }
                                    }
    
                                    &::before{
                                        content: '';
                                        display: block;
                                        width: 1px;
                                        height: 51px;
                                        background: #aaa;
                                        position: absolute;
                                        bottom: -51px;
                                        left: 50%;
                                        margin-left: -0.5px;
                                    }
                                }
    
                                &.dep2_cs, &.dep2_pur, &.dep2_acc{
                                    article:nth-of-type(2)::before{
                                        height: 181px;
                                        bottom: -181px;
                                    }
                                }
                            }
                        }
                    }
                      
            .depth3{
                width: 100%;
    
                    .wrap{
                        width: 100%;

                        h2{
                            display: none;
                            width: 100%;
                            height: 50px;
                            // border: 1px solid #aaa;
                            background: #304d78;
                            font: 18px/50px 'Jost', sans-serif;
                            color: #fff;
                            font-weight: 400;
                            text-align: center;
                            margin-bottom: 20px;
                        }
    
                            >div{
                                width: calc((100% / 4) - 15px);
                                float: left;
                                position: relative;
                                margin-right: 20px;

                                &:nth-of-type(4){
                                    margin-right: 0;
                                }
                                
                                
                                ul{
                                    width: 100%;
    
                                    li{
                                        width: 100%;
                                        border: 1px solid #aaa;
                                        margin-bottom: 50px;
                                        padding: 10px;
                                        position: relative;
    
                                        >span{
                                            font: 14px/1 'Jost', sans-serif;
                                            color: #999;
                                        }
    
                                        >p{
                                            font: 15px/1 'Jost', sans-serif;
                                            color: #333;
                                            letter-spacing: 0.7px;
                                            margin-top: 10px;
                                        }
    
                                        &::before{
                                            content: '';
                                            display: block;
                                            width: 1px;
                                            height: 51px;
                                            background: #aaa;
                                            position: absolute;
                                            bottom: -51px;
                                            left: 50%;
                                            margin-left: -0.5px;
                                        }
                                    }
                                }
                                &{
                                    li:nth-of-type(2)::before{
                                        display: none;
                                    }
                                }
                            }
                    }
                }
        }
    }

    .department_history{
        width: 100%;
        background: #ddd;
        padding: 40px 0px;
        margin-bottom: 100px;

        .inner{
            width: 1180px;
            margin: 0 auto;

            .wrap{
                width: 100%;

                .history_pic{
                    width: 20%;
                    height: 200px;
                    float: left;
                    background: url(../img/text_pic.jpg) no-repeat center/cover;
                }

                .history_txt{
                    width: 80%;
                    height: 200px;
                    float: right;
                    padding: 0 40px;
                    position: relative;

                    >strong{
                        display: block;
                        height: 60px;
                        font: 13px/60px 'Jost', sans-serif;
                        color: #bbb;
                        font-weight: 700;
                        position: relative;
                        letter-spacing: 2px;

                        &::after{
                            content: '';
                            display: block;
                            width: 30px;
                            height: 2px;
                            background: #bbb;
                            position: absolute;
                            top: 0px;
                            left: 0px;
            
                        }
                    }

                    >p{
                        font: 14px/1.6 'Jost', sans-serif;
                        color: #111;
                    }

                    .history_layer_txt{
                        width: 100%;
                        background: #444;
                        position: absolute;
                        bottom: -100px;
                        left: 40px;
                        padding: 40px;

                        >p{
                            font: 13px/1.6 'Jost', sans-serif;
                            color: #fff;

                        }
                    }
                }
            }
        }
    }

    .inner2{
        width: 1180px;
        margin: 0 auto;
        position: relative;
        z-index: 3;

        >h1{
            height: 60px;
            font: 13px/60px 'Jost', sans-serif;
            color: #bbb;
            font-weight: 700;
            position: relative;
            letter-spacing: 2px;
            margin-bottom: 30px;

            &::after{
                content: '';
                display: block;
                width: 30px;
                height: 2px;
                background: #bbb;
                position: absolute;
                top: 0px;
                left: 0px;

            }
        }

        .story_pic{
            width: 100%;
            position: relative;
            z-index: 1;
            
            .wrap{
                width: 100%;

                .story_left_pic{
                    width: 40%;
                    height: 220px;
                    background: url(../img/story1.jpg) no-repeat center/cover;
                }

                .story_right_pic{
                    width: 20%;
                    height: 300px;
                    position: absolute;
                    top: 60px;
                    left: 50%;
                    background: url(../img/story2.jpg) no-repeat center/cover;
                }
            }
        }

    }

    .department_description{
        width: 100%;
        background: #ddd;
        position: relative;
        top: -100px;
        z-index: 1;
        padding: 100px 0 40px;

        .inner{
            width: 1180px;
            height: 100%;
            margin: 0 auto;
            position: relative;

            .description_txt{
                width: 40%;
                z-index: 3;

                strong{
                    font: 16px/1 'Jost', sans-serif;
                    font-weight: 400;
                    color: #111;
                    display: block;
                    padding: 20px 0;
                }

                p{
                    font: 14px/1.6 'Jost', sans-serif;
                    color: #333;
                    margin-bottom: 40px;
                }

                a{
                    display: inline-block;
                    width: 160px;
                    height: 40px;
                    border: 1px solid #111;
                    font: 13px/40px 'Jost', sans-serif;
                    color: #111;
                    text-align: center;
                    transition: 0.5s;
                    letter-spacing: 1px;

                    &:hover{
                        background: #333;
                        color: #fff;
                    }
                }
            }
        }
        
    }
    
    .department_newsletter{
        width: 100%;
        margin-bottom: 160px;

        .inner{
            width: 1180px;
            margin: 0 auto;

            .wrap{
                width: 100%;

                >h1{
                    height: 60px;
                    font: 13px/60px 'Jost', sans-serif;
                    color: #bbb;
                    font-weight: 700;
                    position: relative;
                    letter-spacing: 2px;
        
                    &::after{
                        content: '';
                        display: block;
                        width: 30px;
                        height: 2px;
                        background: #bbb;
                        position: absolute;
                        top: 0px;
                        left: 0px;
        
                    }
                }

                .newsletter_left{
                    width: 40%;
                    float: left;

                    p{
                        font: 22px/1.6 'Jost', sans-serif;
                        color: #111;
                        margin-bottom: 20px;
                    }

                    span{
                        font: 14px/1.6 'Jost', sans-serif;
                        color: #333;
                    }
                }

                .newsletter_right{
                    width: 60%;
                    float: right;
                    padding-left: 40px;

                    form{
                        width: 100%;

                        div{
                            width: calc((100% / 2) - 20px);
                            float: left;
                            margin-right: 20px;

                            &.newsletter_mail{
                                margin-right: 0;
                            }

                            label{
                                display: block;
                                font: 14px/1 'Jost', sans-serif;
                                font-weight: 500;
                                margin-bottom: 20px;
                            }

                            input{
                                width: 100%;
                                font: 14px/1 'Jost', sans-serif;
                                color: #111;
                                background: transparent;
                                border: none;
                                border-bottom: 1px solid #aaa;
                                padding: 0 5px;
                            }

                            &.newsletter_check{
                                margin: 40px 0;
                                width: 100%;

                                input[type=checkbox]{
                                    width: auto;
                                    position: relative;
                                    top: 1.5px;
                                    margin-right: 5px;
                                }
                                >label{
                                    display: inline-block;
                                    font-weight: 400;
                                }
                            }
                        }

                        button[type=submit]{
                            width: 160px;
                            height: 40px;
                            font: 14px/40px 'Jost', sans-serif;
                            color: #000;
                            background: transparent;
                            border: 1px solid #aaa;
                            cursor: pointer;
                            transition: 0.5s;
                            letter-spacing: 1px;

                            &:hover{
                                background: #333;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    /*
    // .departmentList{
    //     width: 100%;
    //     height: 630px;
    //     background: #edebe7;
    //     padding: 60px 0;
        
    //     >.inner{
    //         width: 1180px;
    //         margin: 0 auto;      
            
    //         .depList_tit{
    //             width: 40%;
    //             margin-bottom: 40px;

    //             >p{
    //                 font: 40px/1.5 'Jost', sans-serif;
    //                 font-weight: 300;
    //                 margin-bottom: 20px;
    //             }
    //             >span{
    //                 font: 15px/1 'Jost' sans-serif;
    //                 font-weight: 300;
    //                 color: #bbb;
    //             }
    //         }

    //         .departmentTab{
    //             // width: 100%;
    //             height: 40px;
    //             position: relative;

    //             dt{
    //                 width: 20%;
    //                 height: 100%;
    //                 position: absolute;
    //                 left: 0;
    //                 border: 1px solid #aaa;

    //                 &:nth-of-type(1){
    //                     top: 0;
    //                 }

    //                 &:nth-of-type(2){
    //                     top: 60px;
    //                 }

    //                 &:nth-of-type(3){
    //                     top: 120px;
    //                 }

    //                 &:nth-of-type(4){
    //                     top: 180px;
    //                 }

    //                 &:nth-of-type(5){
    //                     top: 240px;
    //                 }


    //                 a{
    //                     display: block;
    //                     width: 100%;
    //                     height: 100%;
    //                     font: 14px/40px 'Jost', sans-serif;
    //                     font-weight: 400;
    //                     color: #aaa;
    //                     text-align: center;
    //                     position: relative;
    //                     letter-spacing: 1px;

    //                     // &::after{
    //                     //     content: "";
    //                     //     display: block;
    //                     //     width: 0%;
    //                     //     height: 2px;
    //                     //     background: rgb(235, 106, 93);
    //                     //     position: absolute;
    //                     //     bottom: 5px;
    //                     //     left: 50%;
    //                     //     transition: 0.5s;
    //                     //     transform: translateX(-50%);
    //                     // }
    
    //                     // &:hover::after{
    //                     //     width: 30%;
    //                     // }
                      
    //                 }

    //                 &.on{

    //                     border: 1px solid #304d78;
    //                     a{
    //                         background: #304d78;
    //                         color: #fff;
    //                     }

    //                     .toggleBtn, .toggleBtn{
    //                         transform: rotate(135deg);
    //                     }

    //                     .toggleBtn::before, .toggleBtn::after{
    //                         background: #fff;
    //                     }
    //                 }

    //                 .toggleBtn{
    //                     display: inline-block;
    //                     width: 18px;
    //                     height: 18px;
    //                     position: absolute;
    //                     top: 50%;
    //                     right: 10px;
    //                     margin-top: -9px;
    //                     transition: 0.5s;
    //                     transform: rotate(0);
    //                     // border: 1px solid #fff;

    //                     &::before{
    //                         content: '';
    //                         display: block;
    //                         width: 100%;
    //                         height: 2px;
    //                         background: #aaa;
    //                         position: absolute;
    //                         top: 50%;
    //                         left: 0;
    //                         margin-top: -1px;
    //                     }

    //                     &::after{
    //                         content: '';
    //                         display: block;
    //                         width: 2px;
    //                         height: 100%;
    //                         background: #aaa;
    //                         position: absolute;
    //                         top: 0;
    //                         left: 50%;
    //                         margin-left: -1px;
    //                     }
    //                 }

    //             }

    //             dd{
    //                 width: 78%;
    //                 position: absolute;
    //                 display: none;
    //                 margin-left: 22%;

    //                 &:nth-of-type(1){
    //                     display: block;
    //                 }

    //                 &::after{
    //                     content: '';
    //                     display: block;
    //                     clear: both;
    //                 }

                  
    //                 article{
    //                     width: calc((100% / 3) - 20px);
    //                     float: left;
    //                     background: #edebe7;
    //                     margin-right: 30px;
    //                     padding: 20px;
    //                     position: relative;
    //                     border: 1px solid #aaa;

    //                     &:nth-of-type(3){
    //                         margin-right: 0;
    //                     }

    //                     a{
    //                         display: block;
    //                         width: 100%;
    //                         height: 100%;
    //                         position: relative;

    //                         .pic{
    //                             width: 100%;
    //                             height: 350px;
    //                             margin-top: 20px;
    //                             background-size: cover;
    //                             background-position: top center;
    //                             background-repeat: no-repeat;
    //                         }

    //                         .list_txt{

    //                             strong{
    //                                 font: 14px/1 'Jost', sans-serif;
    //                                 color: #aaa;
    //                             }
                                
    //                             p{
    //                                 margin: 20px 0 10px;
    //                                 font: bold 15px/1 'Jost', sans-serif;
    //                                 color: #111;
    //                                 letter-spacing: 0.5px;
    //                             }
        
    //                             >span{
    //                                 font: 14px/1 'Jost', sans-serif;
    //                                 color: #999;
    //                             }
    //                         }
    //                     }
    //                 }
    //             }

                

    //             // &::after{
    //             //     content: '';
    //             //     display: block;
    //             //     width: 100%;
    //             //     height: 1px;
    //             //     background: #aaa;
    //             //     position: absolute;
    //             //     bottom: -20px;
    //             //     left: 0;
    //             // }
    //         }
    //     }
    // }

    */

    
    /*
    .inner2{
        width: 1180px;
        margin: 0 auto;
        padding: 60px 40px;

        .contact{

            >h1{
                display: block;
                height: 60px;
                font: 13px/60px 'Jost', sans-serif;
                color: #bbb;
                font-weight: 700;
                position: relative;
                letter-spacing: 2px;
                margin-bottom: 30px;
    
                &::after{
                    content: '';
                    display: block;
                    width: 30px;
                    height: 2px;
                    background: #bbb;
                    position: absolute;
                    top: 0px;
                    left: 0px;
    
                }
            }

            .wrap{

                #sendBox{
                    width: 70%;
                    float: left;
                    position: relative;

                    .sendText{
                        width: 100%;

                        >label{
                            display: block;
                            width: 60%;
                            font: 14px/1 'Jost', sans-serif;
                            color: #111;
                        }
                        textarea[name=message]{
                            display: block;
                            width: 100%;
                            resize: none;
                            margin: 20px 0;
                            padding: 20px;
                            font: 20px/1.4 'Jost', sans-serif;
                            color: #aaa;
                            border: none;
                            background: transparent;
                        }
                    }

                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }
                    div{
                        width: 50%;

                        >label{
                            display: block;
                            font: 14px/1 'Jost', sans-serif;
                            color: #111;
                        }
                        >input{
                            display: block;
                            width: 80%;
                            height: 40px;
                            font-size: 15px;
                            font-family: 'Jost', sans-serif;
                            margin-top: 10px;
                            padding: 0 5px;
                            background: transparent;
                            border: none;
                            border-bottom: 1px solid #bbb;
                        }

                        &.sendEmail{
                            float: left;
                        }

                        &.sendPhone{
                            float: right;
                        }
                    }

                    input[type=submit]{
                        width: 120px;
                        height: 40px;
                        margin-top: 40px;
                        border: 1px solid #aaa;
                        background: transparent;
                        font: 14px/40px 'Jost', sans-serif;
                        color: #111;
                        font-weight: 400;
                        letter-spacing: 1px;
                        cursor: pointer;

                        &:hover{
                            background: #333;
                            color: #fff;
                        }
                    }
        
                }

                .contactInfo{
                    width: 30%;
                    float: right;
                    position: relative;
                    margin-top: 40px;

                    .infoCon{
                        width: 250px;
                        border-left: 1px solid #bbb;
                        padding-left: 40px;

                        >p{
                            font: 14px/1 'Jost', sans-serif;
                            color: #aaa;

                            >span{
                                display: block;
                                font-size: 17px;
                                color: #333;
                                margin: 10px 0 20px;
                                letter-spacing: 1px;
                            }
                        }

                        >span{
                            font-size: 14px;
                            line-height: 1.4;
                            font-family: 'Jost', sans-serif;
                            color: #aaa;
                        }

                        .sns{
                            margin-top: 10px;
                            >li{
                                
                                a{
                                    display: block;
                                    width: 100%;
                                    height: 30px;
                                    font: 13px/30px 'Jost', sans-serif;
                                    color: #333;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    */


}


//tablet
@media screen and (max-width: 1179px){
    .department{

        .inner{
            width: 100%;
            padding: 0 20px;
            
            .departmentChart{
    
                .depth1{
                    height: auto;
                    padding: 40px 20px;

                        .wrap{
        
                            .innerTxt{
                                width: 100%;
                                height: auto;
                                padding-right: 0;
        
                                h2{
                                    font-size: 25px;
                                    text-align: center;
                                    margin-bottom: 30px;
        
                                    >span{
                                        display: inline-block;
                                    }
                                }
        
                                >p{
                                    display: none;
                                }
                            }
        
                            .innerCon{
                                width: 100%;
                                float: right;
        
                                .wrap{
                                    text-align: center;

                                    article{
                                        padding-left: 0;

                                        .pic{
                                            margin: 0 auto;
                                        }

                                        &:nth-of-type(1){
                                            width: 100%;
                                            margin-bottom: 40px;
                                        }

                                        &:nth-of-type(1)::after{
                                            content: '';
                                            display: block;
                                            width: calc(100% / 2);
                                            height: 1px;
                                            background: #aaa;
                                            position: absolute;
                                            bottom: 0;
                                            left: calc(100% / 4);
                                        }

                                        &:nth-of-type(2), &:nth-of-type(3){
                                            width: 50%;

                                            >.pic{
                                                position: relative;

                                                &::before{
                                                    content: '';
                                                    display: block;
                                                    width: 1px;
                                                    height: 41px;
                                                    background: #aaa;
                                                    position: absolute;
                                                    top: -41px;
                                                    left: 50%;
                                                    margin-left: -0.5px;
                                                }
                                            }
                                        }
    
                                        >p{
                                            font-size: 18px;
                                        }

                                        strong{
                                            font-size: 20px;

                                            &::before{
                                                left: 50%;
                                                margin-left: -13.5px;
                                            }
                                        }
        
                                        >span{
                                            font-size: 15px;
                                        }
                                    }
                                }                        
                            }
                        }
                    
                }
        
                .depth2{

                    .wrap{
                        position: relative;
    
                            >div{
                                width: calc(100% / 2 - 10px);
                                
                                &:nth-of-type(even){
                                    margin-right: 0;
                                }
                                &::after{
                                    display: none;
                                }

                                h2{
                                    display: block;
                                }
                                
                                >article{
                                    margin-bottom: 20px;
                                    height: 80px;
                                    background: #fff;
                                    border: none;

                                    .pic{
                                        display: none;
                                    }

                                    .dep2_txt{
                                        width: 100%;
                                        padding-left: 0;

                                        >strong{
                                            // font-size: 12px;
                                        }
                                        >p{
                                            // font-size: 15px;
                                            margin-top: 5px;
                                        }
                                        >span{
                                            // display: none;
                                        }
                                    }
                                    
                                    &::before{
                                        display: none;
                                    }

                                }
    
                              
                            }
    
                            &::before{
                                display: none;
                            }
                    }
                }
                
                .depth3{
        
                        .wrap{

                            h2{
                                display: block;
                            }
        
                                >div{
                                    width: calc(100% / 2 - 10px);

                                    &:nth-of-type(even){
                                        margin-right: 0;
                                    }
                                    
                                    ul{
        
                                        li{
                                            margin-bottom: 20px;
                                            background: #fff;
                                            border: none;
                                    

        
                                            >p{
                                                font-size: 1.5vw;
                                            }
        
                                            &::before{
                                                display: none;
                                            }

                                            &:nth-of-type(1)::after{
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
            }
        }

        .department_history{
    
            .inner{
                width: 100%;
    
                .wrap{
    
                    .history_pic{
                        width: 30%;
                    }
    
                    .history_txt{
                        width: 70%;
                        padding: 0 20px;

                        >strong{
                            letter-spacing: 0.5px;
                        }

                        >p{
                            font-size: 14px;
                        }

                        .history_layer_txt{
                            width: 95%;
                            top: 180px;
                            bottom: auto;
                            left: 20px;
                            padding: 30px;

                            >p{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    
        .inner2{
            width: 100%;
            padding: 0 20px;
    
            .story_pic{
                
                .wrap{
    
    
                    .story_right_pic{
                        width: 30%;
                        height: 270px;
                        left: 60%;
                    }
                }
            }
    
    
        }
    

        .department_description{
    
            .inner{
                width: 100%;
    
                .description_txt{
                    width: 50%;
                }
            }
            
        }
        
        
        .department_newsletter{
            position: relative;
    
            .inner{
                width: 100%;
                margin: 0 auto;
    
                .wrap{
    
                    .newsletter_left{
                        width: 50%;
                        padding-right: 20px;
                        p{
                            font-size: 20px;
                        }
                    }
    
                    .newsletter_right{
                        width: 50%;
                        padding-left: 0;
                        
                        form{
    
                            div{
                                width: 100%;
                                margin-right: 0;
                                margin-bottom: 20px;

                                
                                >input[type=text]{
                                    width: 45vw;
                                }


                                &.newsletter_check{
                                    width: 100%;
                                    position: absolute;
                                    left: 20px;
                                    bottom: -100px;
                              
                                }
                            }
                        }
                    }
                }
            }
        }
    
        
    
        // .departmentList{

        //     >.inner{
        //         width: 100%;
        //         padding: 0 20px;
    
        //         .departmentTab{
        //             width: 100%;
    
        //             dt{
        //                 width: 17vw;
        //                 height: 100%;
        //                 position: absolute;
        //                 left: 0;
        //                 border: 1px solid #aaa;
        //                 z-index: 2;

        //                 &:nth-of-type(1){
        //                     top: 0;
        //                     left: 0;
        //                 }

        //                 &:nth-of-type(2){
        //                     top: 0;
        //                     left: 18vw;
        //                 }

        //                 &:nth-of-type(3){
        //                     top: 0;
        //                     left: 36vw;
        //                 }

        //                 &:nth-of-type(4){
        //                     top: 0;
        //                     left: 54vw;
        //                 }

        //                 &:nth-of-type(5){
        //                     top: 0;
        //                     left: 72vw;
        //                 }

        //                 a{
        //                     font-size: 1.4vw;
        //                 }
    
        //                 span.toggleBtn{
        //                     &::before, &::after{
        //                         display: none;
        //                     }
        //                 }
        //             }
    
        //             dd{
        //                 width: 100%;
        //                 padding-top: 50px;
        //                 margin-left: 0;
        //                 z-index: 1;
                      
        //                 article{
        //                     width: calc((100% / 2) - 5px);
        //                     margin-right: 10px;
        //                     margin-bottom: 10px;

        //                     a{
        //                         .pic{
        //                             height: 45vw;
        //                             background-position: center;
        //                         }
                               
        //                         .list_txt{

        //                             strong{
        //                                 font-size: 12px;
        //                             }
                                    
        //                             p{
        //                                 font-size: 15px;
        //                             }
            
        //                             >span{
        //                                 font-size: 12px;
        //                             }
        //                         }
        //                     }
        //                     &:nth-of-type(2){
        //                         margin-right: 0;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
        

    
    }
}


//mobile
@media screen and (max-width: 539px){
    .department{


        .department_history{
            margin-bottom: 40px;
            .inner{

                .wrap{
    
                    .history_txt{
                        width: 70%;

                        >strong{
                            letter-spacing: 0.5px;
                        }

                        >p{
                            font-size: 13px;
                        }

                        .history_layer_txt{
                            display: none;
                        }
                    }
                }
            }
        }
    
        .inner2{
    
            .story_pic{
                
                .wrap{
                    
                    .story_left_pic{
                        position: absolute;
                        right: 20px;
                        top: 60px;
                    }
                    .story_right_pic{
                        display: none;
                    }
                }
            }
    
    
        }
    

        .department_description{
            padding: 40px 0;
            top: 0;
            margin-bottom: 40px;

            .inner{
    
                .description_txt{

                    p{
                        font-size: 13px;
                    }

                    a{
                        font-size: 13px;
                    }
                }
            }
            
        }
        
        
        .department_newsletter{
            position: relative;
    
            .inner{
                width: 100%;
    
                .wrap{
    
                    .newsletter_left{
                        width: 100%;
                        padding-right: 0;
                        margin-bottom: 40px;
                    }
    
                    .newsletter_right{
                        width: 100%;
                        
                        form{
    
                            div{
                                
                                >input[type=text]{
                                    width: 100%;
                                }


                            }
                        }
                    }
                }
            }
        }
    
        
    
        // .departmentList{

        //     >.inner{
        //         width: 100%;
        //         padding: 0 20px;
    
        //         .departmentTab{
        //             width: 100%;
    
        //             dt{
        //                 width: 17vw;
        //                 height: 100%;
        //                 position: absolute;
        //                 left: 0;
        //                 border: 1px solid #aaa;
        //                 z-index: 2;

        //                 &:nth-of-type(1){
        //                     top: 0;
        //                     left: 0;
        //                 }

        //                 &:nth-of-type(2){
        //                     top: 0;
        //                     left: 18vw;
        //                 }

        //                 &:nth-of-type(3){
        //                     top: 0;
        //                     left: 36vw;
        //                 }

        //                 &:nth-of-type(4){
        //                     top: 0;
        //                     left: 54vw;
        //                 }

        //                 &:nth-of-type(5){
        //                     top: 0;
        //                     left: 72vw;
        //                 }

        //                 a{
        //                     font-size: 1.4vw;
        //                 }
    
        //                 span.toggleBtn{
        //                     &::before, &::after{
        //                         display: none;
        //                     }
        //                 }
        //             }
    
        //             dd{
        //                 width: 100%;
        //                 padding-top: 50px;
        //                 margin-left: 0;
        //                 z-index: 1;
                      
        //                 article{
        //                     width: calc((100% / 2) - 5px);
        //                     margin-right: 10px;
        //                     margin-bottom: 10px;

        //                     a{
        //                         .pic{
        //                             height: 45vw;
        //                             background-position: center;
        //                         }
                               
        //                         .list_txt{

        //                             strong{
        //                                 font-size: 12px;
        //                             }
                                    
        //                             p{
        //                                 font-size: 15px;
        //                             }
            
        //                             >span{
        //                                 font-size: 12px;
        //                             }
        //                         }
        //                     }
        //                     &:nth-of-type(2){
        //                         margin-right: 0;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
        

    
    }
}

